name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 3
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - "27.1"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Emacs
        uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
        with:
          version: ${{ matrix.emacs-version }}
      - name: Build
        run: emacs --batch --quick --directory . --eval "(progn (setq byte-compile-error-on-warn t) (batch-byte-compile))" *.el
      - name: Test
        run: emacs --batch --quick --directory . --load tests/*.el --eval "(ert-run-tests-batch-and-exit t)"
